name: Sync Fork

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Sync and merge upstream repository with your current repository
        uses: dabreadman/sync-upstream-repo@v1.3.0
        with: 
          upstream_repo: https://github.com/appsmithorg/appsmith
          upstream_branch: release
          downstream_branch: release
          token: ${{ env.WORKFLOW_TOKEN }}
          # fetch_args: ${{ env.FETCH_ARGS }}
          # merge_args: ${{ env.MERGE_ARGS }}
          # push_args: ${{ env.PUSH_ARGS }}
          # spawn_logs: ${{ env.SPAWN_LOGS }}
