name: Sync Fork

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: GitHub Repo Sync
        uses: repo-sync/github-sync@v2.3.0
        with: 
          source_repo: https://github.com/appsmithorg/appsmith
          source_branch: release
          downstream_branch: release
          github_token: ${{ github.token }}
          sync_tags: "true"
